
* {
  background: lightblue;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  border: solid black 2px;
  padding: 10px;
  margin-top: 10px;
}

#type {
  margin-top: 40px;
  font-weight: bold;
}

#search {
  margin-top: 30px;
  
}

#weatherName {
  margin-top: 40px;
}

.btn {
  cursor: pointer;
}

#changeF {
  margin-right: 10px;
}

#changeC {
  margin-left: 10px;
}

/* #buttons {

} */
